<!DOCTYPE html>
<html>
{% if path == '' %}
<h2> Tpye in the absolute path for your image: </h2>
{% else %}
<h2> Would you like to upload another image? </h2>
{% endif %}
<img src="/Users/markutz556/umichbioinf/Fall2018/Si650/final_project/pyseeta/data/chloecalmon.png" alt="Uploaded Photo" />

<form action="/upload" method="POST">

    Path: <input type="text" name="path"/> <br/>
    <input type="submit" value="Upload"/>

</form>

{% if path != '' %}
<p>{{ path }}</p>
<img src="../static/chloecalmon.png" alt="Uploaded Photo" />
{% else %}
<p> {{ error }} </p>
{% endif %}
</html>